/* Mobile Responsive CSS */

@media (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  /* Navbar */

  .menu-toggle {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background: transparent;

    display: none;
    flex-direction: row;
    justify-content: center;

    gap: 0.7rem;
    padding: 13px;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    white-space: nowrap;
  }

  /* Hero Section */
  .desktop-img {
    display: none;
  }

  .hero-text {
    display: block;
  }

  .hero-content {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .hero {
    height: 70vh;
  }

  .hero-img {
    object-fit: cover;
    object-position: center;
  }

  /* About Section */
  .about {
    padding: 20px;
    text-align: center;
  }

  .gallery img{
    border-radius: 4px;
  }

  /* Skills */
  .skills-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  /* Projects */
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-card {
    width: 100%;
  }

  /* Contact */
  .contact {
    padding: 20px;
  }

  input,
  textarea {
    width: 100%;
  }

  /* Footer */
  footer {
    text-align: center;
    font-size: 14px;
    padding: 15px;
  }
}
