* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #141414;
  color: #eee;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* LOGO */
.logo img {
  height: 45px;
}

.logo img:hover {
  cursor: pointer;
}

/* NAV LINKS */
.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-list a:hover {
  color: gold;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* HERO SECTION */

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* BACKGROUND IMAGE */

.hero {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.hero-text {
  margin-top: 60px;
  display: flex;
  text-align: center;
  color: white;
  padding: 10px 30px;
  background: #566c68e7;
  border-radius: 12px;
}

.hero-text h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.hero-text p {
  font-size: 11px;
}

/* BUTTON */

.hero-btn {
  display: inline-block;
  margin-top: 2px;
  padding: 5px 10px;
  background: #d4af37;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.hero-btn:hover {
  opacity: 0.85;
  transition: opacity 0.3s ease;
}

/* second heto-text  */

.hero-content {
  margin-top: 410px;
  text-align: center;
  color: white;
  padding: 10px 60px;
  background: #566c68e7;
  border-radius: 12px;
}

.hero-content .aa {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content .bb {
  font-size: 20px;
}

/* BUTTON */

.hero-btnn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #d4af37;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.hero-btnn:hover {
  opacity: 0.85;
  transition: opacity 0.3s ease;
}

/* Mobile image hide by default */

.hero-text {
  display: none;
}

.mobile-img {
  display: none;
}

section {
  padding: 100px 10%;
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.4rem;
  color: #d4af37;
}

.about {
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: #ffff;
  line-height: 1.8;
}

.category-links {
  text-align: center;
  margin-bottom: 40px;
}

.category-links span {
  background: #e0e0e0;
  padding: 5px 10px;
  margin: 4px;
  display: inline-block;
  border-radius: 20px;
  font-size: 17px;
}

.category-links span:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  gap: 25px;
}

.gallery img {
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

/* PRICING */
.pricing {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #b7b7b7;
  padding: 25px;
  border-radius: 10px;
  width: 260px;
  text-align: center;
  color: #000;
}

.card h3 {
  color: #947100;
  margin-bottom: 10px;
}

/* TESTIMONIALS */
.testimonials {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.testimonials p {
  margin: 20px 0;
  font-style: italic;
  color: #ffff;
}

/* BLOG */
.blog-preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.blog-preview div {
  background: #1a1a22;
  padding: 15px;
  border-radius: 10px;
}

form {
  max-width: 600px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-family: Poppins;
}

button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #d4af37;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

.social {
  text-align: center;
  margin-top: 25px;
}

.social a {
  margin: 0 12px;
  color: #d4af37;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 30px;
  margin-top: 60px;
  background: #0a0a0d;
  color: #777;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2.2rem;
  }
}
